<%= flash[:notice] %>

<div class="container">
  <%= image_tag "book grid 3.png", class:"header_pic" %>

<br>
<div class="page-header">
    <h1 id="timeline">Online Store</h1>
    <p class="lead">Write Around Portland publications are available to purchase online.</p>
    <br>
</div>

<div class="row">
  <% @publications.each do |pub| %>
    <div class="col-md-6 book_entry">
      <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span>  <%= link_to pub.title, publication_path(pub) %></h3>
      <h4><%= pub.release_year %></h4>
      $ <%= pub.price %>0
    </div>
  <% end %>
</div>
<hr>
<div class="cart">
  Items in cart: <%= @cart_count %>
  <%= link_to "Checkout", new_order_path %>

</div>
