<%= flash_message %>

<div class="container">
  <%= image_tag "online_store.png", class:"header_image" %>

  <div class="cart hvr-glow">

    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><br>
    <h4><%= @cart_count %> items in cart.<br>
    <h4><a href="<%= new_order_path %>">Checkout</a><br></h4>
  </div>

<br>
<div class="page-header">
    <h1 id="timeline">Online Store</h1>
    <p class="lead">Write Around Portland publications are available to purchase online.</p>
    <br>
</div>




<div class="row">
  <% @publications.each do |pub| %>
    <div class="col-md-4">
      <div class="book_entry clickable hvr-glow">
        <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span class="book_title"><a href="<%= publication_path(pub) %>"><%= pub.title %></a></span><br><br>
          <%= pub.release_year %></h4>
         <%= format_money(pub.price) %>
      </div>
    </div>
  <% end %>
</div>
<hr>
