<h2>Shopping Cart:</h2>
<% @order.publications.each do |pub| %>
  <%= pub.title %> -
  <%= pub.price %><br>
<% end %>
<hr>
<h3>Total: <%= @order.total %></h3>

<%= form_for @order do |f| %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
  data-description="Checkout"
  data-amount="<%= @order.total*100 %>"
  data-panel-label="Pay {{amount}}"></script>
<% end %>
