<!DOCTYPE html>
<html>
<head>
  <title>Write Around Portland</title>

  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<<<<<<< HEAD
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Wap</title>
=======

>>>>>>> b17ab0ce60687975ef01a322865a28bf9c1882ca
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1">
</head>
<body>

<%= render "layouts/menu"%>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
